$headerBackgroundColor:#85e1ff;
$pageBackgroundColor:#fc83d3,#75fa8b,#d4ed98,#8c8edb,#4ef8ca;
$baseBackgroundColor:#fff,#111,#f44283;
$baseColor:#fff,#111;
$baseWidth:10%,10px;
$baseHeight:10%,10px;
$baseFontSize:10px;
$baseLineHeight:1;
$baseFontFamily:PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
